@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;800;900&display=swap');


// BS variables customization
// $info: #4A90E2;
$info: #24B1FF;
$cyan: #24B1FF;
$warning: #EFD96F;
$danger: #F55858;
$success: #6AD792;
$gray-lt: #F4F3F4;
$gray-md: #EBEBEB;
$gray-dk: #A5A5A5;
$gray-dkest: #878787;
$gray-underline: #979797;
$black: #262626;

$font-family-sans-serif: 'Montserrat',
sans-serif;
$input-btn-font-family: 'Montserrat',
sans-serif;
$btn-font-weight: 700;
$input-btn-font-size: 21px;



// SC variables 