// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "custom.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";



.py-60 {
    padding: 60px 0;
}

.py-40 {
    padding: 40px 0;
}

.py-20 {
    padding: 20px 0;
}

body {
    font-family: $font-family-sans-serif;
    font-weight: 300;
    color: $black;    
    text-align: center;
    font-size: 12px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    // padding-top: 150px;
    // padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        text-align: left;
    }

    .container {
        position: relative;
        padding: 0 40px 20px 40px;
        max-width: 992px;

        @media screen and (max-width: 767.98px) {
            max-width: 300px;
        }
    }

    .spacer {
        height: 137px;
    }

    .close {
        text-align: right;
        position: absolute;
        top: 32px;
        right: 0;
        // width: calc(100% + 60px);
        width: 100%;
        max-width: 992px;
        margin: 0 auto;
        z-index: 100;
    
        @media screen and (min-width: 768px) {
            margin: 0 calc((100% - 992px) / 2);
        }
    
        img,
        svg {
            padding: 15px;
        }
    }

    h1 {
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 0;
        line-height: 1;
    }

    b {
        font-weight: 700;
    }

    .fw-100 {
        font-weight: 100;
    }
    
    .links {
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    
    a.link {
        color: $info;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 2px dotted $info;
        display: inline-block;
    }

    .key {
        font-weight: 200;
        font-size: 20px;
        word-break: break-all;
        text-align: left;
        margin-bottom: 20px;
        
        &.key-hidden {
            font-weight: 300;
            word-break: normal;
            text-align: center;
        }
    }

    &.bg-info {
        background-color: $info !important;
        color: $white !important;
    }
    
    .btn {
        font-size: 21px;
        padding: 24px;
        width: 320px;
        max-width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 2px;
        margin-bottom: 10px;
        @extend .baseShadow;
    
        span { 
            display: block;
            font-weight: 100;
            font-size: 10px;
        }
    }
    
    .btn-darker { 
        background-color: rgba(0, 0, 0, 0.15);
        border-color: transparent;
        color: $white;
    }
    
    .btn-info {
        background-color: #44a1d5;
        border-color: #44a1d5;
        color: $white;
        display: block;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 15%),
            inset 0px 1px 2px rgb(255 255 255 / 15%);
    }
    
    .btn-light {
        color: $info;
    }

    .btn-icon {
        @extend .baseShadow;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        background-color: $white;
    
        &.btn-info {
            background-color: $info;
        }
    }

    figure {
        position: relative;

        &.avatar {
            display: flex;
            width: 90px;
            margin: 60px auto;
        }

        .btn-icon {
            position: absolute;
            right: -10px;
            bottom: 0;

            &.btn-info {
                background-color: $info;
            }

            &.btn-upload {
                width: 30px;
                height: 30px;
            }
        }
    }

    .warning-box {
        margin-top: 80px;
        margin-bottom: 60px;
        background-color: $white;
        padding: 45px 30px 30px;
        position: relative;
        font-size: 16px;
        font-weight: 700;
        
        img {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
        }
        
        p:last-child {
            margin-bottom: 0;
        }

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: flex-start;
            gap: 30px;
            max-width: 450px;

            img {
                position: unset;
                transform: none;
            }
        }
    }

    .bottomlink {
        margin-top: 84px;
    }

    .divider {
        width: 100%;
        height: 1px;
        margin: 60px 0;
        // background-color: darken($gray-md, 5%);
        background-color: $grey1b;
    }

    main {
        display: flex;
    }

    .flex-space {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        justify-content: flex-start;
        // height: 450px;
        // max-height: 100%;
        align-items: center;

        .btns {
            .close {
                position: unset;
                width: auto;
                padding: 11px;
                margin: 0 auto;
            }
        }
    
        @media screen and (min-width: 768px) {
            text-align: left;
            align-items: flex-start;
        }
    }

    header {
        p {
            max-width: 500px;
            font-weight: 300;
            font-size: 14px;
            margin-top: 5px;
        }
    
        @media screen and (min-width: 768px) {
            h1 {
                font-size: 55px;
                font-weight: 800;
            }
    
            p {
                font-size: 16px;
                font-weight: 300;
            }
        }
    }

    &.bg-gray-lt {
        // background-color: $gray-lt;    
        background-color: $grey1;
        header {
            h1 {
                color: $grey3;
            }
        }

        .username {
            color: $black;
            font-weight: 700;
            font-size: 16px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 0;
        
            @media screen and (min-width: 768px) {
                font-size: 21px;
            }
        }

        .wallet {
            font-weight: 300;
            font-size: 12px;
            // color: $gray-dk;
            color: $grey3b;
        }
    }   

    &.bg-gray-md {
        background-color: $grey1b;
    }   

    &.bg-gray-dk {
        // background-color: $gray-dk;
        background-color: $grey3b;
    }

    form {
        width: 100%;
        max-width: 276px;
        font-weight: 400;
        // border-bottom-color: $gray-dkest;
        border-bottom-color: $grey3;
        color: $black;

        label {
            display: block;
            font-size: 11px;
            font-weight: 700;
            color: $grey3;
            @media screen and (min-width: 768px) {
                font-size: 16px;
            }
        }

        input {
            border: none;
            background-color: transparent;
            border-bottom: 1px solid $grey4;
            padding-bottom: 5px;
            color: $grey4;
            font-weight: 700;
            font-size: 16px;
            line-height: 40px;
            text-align: center;
            display: block;
            max-width: 320px;
            width: 205px;
            margin: auto;

            &:focus {
                border-bottom-color: $info;
            }

            &:focus-visible {
                outline: none;
            }

            @media screen and (min-width: 768px) {
                font-size: 21px;
                text-align: left;
                margin-left: 0;
            }
        }

        ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $black;
            opacity: 1;
            font-weight: 400;
        }
        
        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $black;
            font-weight: 400;
        }
        
        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $black;
            font-weight: 400;
        }
    }

    &.welcome {
        padding-top: 0;
        background-color: $grey1;
        display: block;

        .container {
            padding-bottom: 0;
        }
    
        .en {
            text-align: right;
            font-weight: 700;
            font-size: 11px;
            padding-top: 30px;
    
            a {
                color: $black;
                padding: 2px;
                text-decoration: none;
                border-bottom: 2px solid $black;
            }
        }
    
        main {
            min-height: 530px;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            .d-flex {
                justify-content: space-between;
                align-content: center;
                margin-bottom: 46px;
                flex-direction: column;
                align-items: center;
                text-align: center;
    
                @media (min-width: 768px) {
                    flex-direction: row;
                    align-items: self-end;
                    text-align: left;
                }
            }
    
            #logo {
                width: 78px;
                display: inline-block;
                margin-bottom: 50px;
    
                @media screen and (min-width: 768px) {
                    width: 68px;
                }
            }
    
            h1 {
                font-weight: 300;
                max-width: 375px;
                font-size: 22px;
                line-height: 1.2;
    
                @media screen and (min-width: 768px) {
                    font-size: 30px;
                    line-height: 0.9;
                }
    
                @media screen and (min-width: 992px) {
                    font-size: 34px;
                }
    
                span {
                    font-weight: 700;
                    font-size: 35px;
    
                    @media screen and(min-width: 768px) {
                        font-size: 64px;
                        display: block;
                    }
    
                    @media screen and(min-width: 992px) {
                        font-size: 78px;
                    }
                }
            }
    
            .btn-warning {
                // max-width: 248px;
                margin-top: 70px;
                padding: 32px;
    
                @media screen and (min-width: 768px) {
                    margin-top: 0;
                }
            }
        }
    
        .links {
            @extend .py-40;
            font-size: 12px;
            text-align: left;
    
            span {
                display: block;
    
                .link {
                    padding: 0;
                    margin: 8px 32px 8px 0;
    
                    &::after {
                        left: 16px;
                        width: calc(100% - 32px);
                        bottom: 8px;
                    }
                }
            }
    
            @media screen and (min-width: 768px) {
                span {
                    display: inline;
    
                    .link {
                        margin: 0 32px 0 0;
    
                        &::after {
                            bottom: 16px;
                        }
                    }
                }
            }
        }
    
        address {
            @extend .py-60;
            font-size: 14px;
            text-align: left;
    
            .container {
                div {
                    margin-left: -4px;
                }
    
                a {
                    display: inline-block;
                    border: none;
                    color: $black;
                    text-decoration: none;
                }
            }
        }
    }

    &.create-account {
        .btns {
            margin-top: 170px;
        }
    }

    &.choose-username {
        main {
            // display: flex;
            // flex-direction: column;
            .content {
                display: flex;
                flex-direction: column;
                @media screen and (min-width: 768px) {
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    .avatar {
                        margin-left: 0;
                        margin-right: 40px;
                    }
                    input {
                        text-align: left;
                    }
                }
            }
            @media screen and (min-width: 768px) {
                .btns {
                    margin-left: 0;
                }
            }
        }
        .btns {
            margin: auto;
            margin-top: 80px;
        }
    }

    &.stop-creating {
        color: $white;
        .flex-space {
            
            @media screen and (min-width: 768px) {
                align-items: flex-start;
            }
        }
        .btns {
            margin-top: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;            
        }
        
    }

    &.set-avatar {
        padding-top: 80px;
        .flex-space {
            // height: 400px;
            // min-height: 400px;
            // @media screen and (min-width: 768px) {
            //     align-items: flex-start;
            // }
            header {
                .canvas {
                    background-color: $black;
                    width: 250px;
                    height: 250px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
                    .avatar img {
                        outline: 5px solid $info;
                        border-radius: 50%;
                        margin: -1px;
                    }
                
                    .rotate {
                        position: absolute;
                        right: 18px;
                        bottom: 18px;
                    }
                }
                p {
                    font-size: 12px;
                    font-weight: 700;
                    margin-top: 16px;
                    @media screen and (min-width: 768px) {
                        font-size: 18px;
                    }
                }
            }
    
            .btns {
                margin-top: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media  (min-width: 768px) {
                    margin-left: -11px;
                }
                .close {
                    position: unset;
                    width: auto;
                    padding: 11px;
                }
            }
        }
    }

    &.password-warning {
        .flex-space {
            // height: 600px;
            // @media screen and (min-width: 768px) {
            //     height: 400px;
            // }
        }
    }

    &.restore {
        .flex-space {
            height: 350px;
        }        
    }

    &.choose-password {
        form {
            margin-top: 80px;
        }
        
        .error {
            color: $error;
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 60px;
        }

        .btns {
            margin-top: 40px;
        }
    }

    &.account-complete {
        .flex-space {            
            header {
                h1 {
                    color: $info;
                }
            }
            .content {
                @media screen and (min-width: 768px){
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 30px;
                }
            }
            figure.avatar {
                margin-bottom: 15px;
            }
            .btns {
                margin-top: 120px;

                @media screen and (min-width: 768px) {
                    margin-top: 60px;
                }
            }
        }
        
    }

    &.restore-confirm {   
        figure.avatar {
            margin-bottom: 15px;
        }        
        .btns {
            display: flex;
            justify-content: center;
            align-items: center;
        
            @media (min-width: 768px) {
                margin-left: -11px;
            }
        
            .close {
                position: unset;
                width: auto;
                padding: 11px;
            }
        }
    }

    &.restore-confirmed {
        header {
            h1 {
                color: $info;
            }
        }
        figure.avatar {
            margin-bottom: 15px;
        }
        .btn {
            margin-top: 90px;
        }
    }

    &.password-warning {
        .warning-box {
            width: 750px;
            max-width: 100%;
        }
    }

    &.download-file {
        .bottomlink {
            margin-top: 40px;
        }
    }

    &.keys {
        .flex-space {
            // height: 550px;
            // justify-content: flex-start;
        }
        .container > p:first-child {
            margin-bottom: 4px;
        }
        hr {
            margin: 60px 0;
        }
        .btn.btn-light {
            color: $black;
            margin-top: 40px;
        }
    }
}



