// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "custom.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

body {
    font-family: $font-family-sans-serif;
    font-weight: 300;
    color: $black;
    text-align: center;
    font-size: 12px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;    
}

main {
    display: flex;
}

.container {
    @media screen and (max-width: 767.98px) {
        max-width: 300px;
    }
}

.close {
    text-align: right;
    position: absolute;
    top: 40px;
    width: 100%;
    img,svg {
        padding: 15px;
    }
    svg {
        fill: $white;
        fill-opacity: 1;
    }
}

.btn-icon {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: $white;

    &.btn-info {
        background-color: $info;
    }
}

figure {
    position: relative;
    &.avatar {
        display: flex;
        width: 90px;
        margin: 40px auto;        
    }
    .btn-icon {
        position: absolute;
        right: -10px;
        bottom: 0;
        &.btn-info {
            background-color: $info;
        }
        &.btn-upload {
            width: 30px;
            height: 30px;
        }
    }
}

b {
    font-weight: 700;
}

.py-60 {
    padding: 60px 0; 
}

.py-40 {
    padding: 40px 0;
}

.py-20 {
    padding: 20px 0;
}

.bg-info {
    background-color: $info !important;
    color: $white
}

.btn {
    font-size: 21px;
    padding: 20px 32px;
    width: 320px;
    max-width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // box-shadow: -2px 2px 2px rgb(0 0 0 / 25%), inset -2px 2px 2px rgb(255 255 255 / 5%);
    border-radius: 2px;
    margin-bottom: 10px;
    span {
        display: block;
        font-weight: 100;
        font-size: 10px;
    }
}

.btn-darker {
    background-color: rgba(0, 0, 0, 0.15);
    border-color: transparent;
    color: $white;
}

.btn-info {
    background-color: #44a1d5;
    border-color: #44a1d5;
    color: $white;
    display: block;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 15%),
    inset 0px 1px 2px rgb(255 255 255 / 15%);
}
.btn-light {
    color: $info;
}

h1 {
    font-weight: 700;
    font-size: 35px; 
}

.fw-100 {
    font-weight: 100;
}

a.link {
    color: $cyan;
    font-weight: 700; 
    text-decoration: none;
    display: inline-block;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        height: 0px;
        border-bottom: 2px dashed #979797;
        left: 0px;
        bottom: 0px;
        width: 100%;
    }
}

body {
    .flex-space {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // height: 100%;
        height: 450px;
        max-height: 100%;
        align-items: center;
    
        @media screen and (min-width: 768px) {
            text-align: left;
            align-items: flex-start;
        }
    }
    header {
        p {
            max-width: 500px;
            font-weight: 300;
            font-size: 14px;
        }
    
        @media screen and (min-width: 768px) {
            h1 {
                font-size: 55px;
                font-weight: 800;
            }
    
            p {
                font-size: 16px;
                font-weight: 300;
            }
        }
    }

    &.bg-gray-lt {
        background-color: $gray-lt;    
        header {
            h1 {
                color: $gray-dk;
            }
        }
        .close {
            a {
                img {
                    filter: brightness(0);
                }
            }
        }
        .username {
            color: $black;
            font-weight: 700;
            font-size: 16px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 0;
        
            @media screen and (min-width: 768px) {
                font-size: 21px;
            }
        }
        .wallet {
            font-weight: 300;
            font-size: 12px;
            color: $gray-dk;
        }
    }    
    &.bg-gray-md {
        background-color: $gray-md;
    }    
    &.bg-gray-dk {
        background-color: $gray-dk;
    }
    form {
        label {
            display: block;
            font-size: 11px;
            font-weight: 700;
            color: $gray-dkest;
            @media screen and (min-width: 768px) {
                font-size: 16px;
            }
        }
        input {
            border: none;
            background: transparent;
            border-bottom: 2px solid $info;
            color: $black;
            font-weight: 700;
            font-size: 16px;
            line-height: 40px;
            text-align: center;
            display: block;
            max-width: 320px;
            width: 100%;
            margin: auto;
            @media screen and (min-width: 768px) {
                font-size: 21px;
            }
        }
    }
    &.welcome {
        background-color: $gray-lt;
        display: block;
    
        .en {
            text-align: right;
            font-weight: 700;
            font-size: 11px;
            padding-top: 30px;
    
            a {
                color: $black;
                padding: 2px;
                text-decoration: none;
                border-bottom: 2px solid $black;
            }
        }
    
        main {
            min-height: 530px;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            .d-flex {
                justify-content: space-between;
                align-content: center;
                margin-bottom: 46px;
                flex-direction: column;
                align-items: center;
                text-align: center;
    
                @media (min-width: 768px) {
                    flex-direction: row;
                    align-items: self-end;
                    text-align: left;
                }
            }
    
            #logo {
                width: 78px;
                display: inline-block;
                margin-bottom: 50px;
    
                @media screen and (min-width: 768px) {
                    width: 68px;
                }
            }
    
            h1 {
                font-weight: 300;
                max-width: 375px;
                font-size: 22px;
                line-height: 1.2;
    
                @media screen and (min-width: 768px) {
                    font-size: 30px;
                    line-height: 0.9;
                }
    
                @media screen and (min-width: 992px) {
                    font-size: 34px;
                }
    
                span {
                    font-weight: 700;
                    font-size: 35px;
    
                    @media screen and(min-width: 768px) {
                        font-size: 64px;
                        display: block;
                    }
    
                    @media screen and(min-width: 992px) {
                        font-size: 78px;
                    }
                }
            }
    
            .btn-warning {
                // max-width: 248px;
                margin-top: 70px;
                padding: 32px;
    
                @media screen and (min-width: 768px) {
                    margin-top: 0;
                }
            }
        }
    
        .links {
            @extend .py-20;
            font-size: 12px;
            text-align: left;
    
            span {
                display: block;
    
                .link {
                    padding: 8px 16px;
                    margin-left: -16px;
    
                    &::after {
                        left: 16px;
                        width: calc(100% - 32px);
                        bottom: 8px;
                    }
                }
            }
    
            @media screen and (min-width: 768px) {
                span {
                    display: inline;
    
                    .link {
                        padding: 16px;
    
                        &::after {
                            bottom: 16px;
                        }
                    }
                }
            }
        }
    
        address {
            @extend .py-60;
            font-size: 14px;
            text-align: left;
    
            .container {
                div {
                    margin-left: -4px;
                }
    
                a {
                    display: inline-block;
                    border: none;
                    color: $black;
                    text-decoration: none;
                }
            }
        }
    }
    &.choose-username {
        main {
            display: flex;
            flex-direction: column;
            .content {
                display: flex;
                flex-direction: column;
                @media screen and (min-width: 768px) {
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    .avatar {
                        margin-left: 0;
                        margin-right: 40px;
                    }
                    input {
                        text-align: left;
                    }
                }
            }
            @media screen and (min-width: 768px) {
                .btns {
                    margin-left: 0;
                }
            }
        }
        .close {
            a img {
                filter: brightness(0);
            }
        }
        header {
            h1 {
                color: $gray-dk;
            }
        }
        .btns {
            margin: auto;
            @extend .py-60;
        }
    }
    &.stop-creating {
        color: $white;
        .flex-space {
            height: 300px;
            @media screen and (min-width: 768px) {
                align-items: flex-start;
            }
        }
        .btns {
            display: flex;
            justify-content: center;
            align-items: center;
            .close {
                position: unset;
                width: auto;
                padding: 11px;
            }
        }
        
    }
    &.set-avatar {
        .flex-space {
            height: 400px;
            min-height: 400px;
            @media screen and (min-width: 768px) {
                align-items: flex-start;
            }
            header {
                .canvas {
                    background-color: $black;
                    width: 250px;
                    height: 250px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
                    .avatar img {
                        outline: 5px solid $info;
                        border-radius: 50%;
                        margin: -1px;
                    }
                
                    .rotate {
                        position: absolute;
                        right: 18px;
                        bottom: 18px;
                    }
                }
                p {
                    font-size: 12px;
                    font-weight: 700;
                    margin-top: 16px;
                    @media screen and (min-width: 768px) {
                        font-size: 18px;
                    }
                }
            }
    
            .btns {
                display: flex;
                justify-content: center;
                align-items: center;
                @media  (min-width: 768px) {
                    margin-left: -11px;
                }
                .close {
                    position: unset;
                    width: auto;
                    padding: 11px;
                }
            }
        }
        .chooseAnother {
            margin-top: 84px;
            @media screen and (min-width: 768px) {
                text-align: left;
            }
        }
    }
    &.password-warning {
        .flex-space {
            height: 500px;
        }
        .content {
            background-color: $white;
            padding: 45px 30px 30px;
            position: relative;
            font-size: 16px;
            font-weight: 700;
            img {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
    &.restore {
        .flex-space {
            height: 350px;
        }        
    }
    &.choose-password {
        .flex-space {
            // height: 500px;
        }  
        form {
            input {
                font-weight: 400;
                border-bottom-color: $gray-dkest;
                color: $black;

                @media screen and (min-width: 768px) {
                    text-align: left;
                }
            }
            ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $black;
                opacity: 1;
                /* Firefox */
            }            
            :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $black;
            }            
            ::-ms-input-placeholder {
                /* Microsoft Edge */
                color: $black;
            }
        }
        .error {
            color: $error;
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 20px;
        }
    }
    &.account-complete {
        .flex-space {
            justify-content: flex-start;
            header {
                h1 {
                    color: $info;
                }
            }    
            figure.avatar {
                margin-bottom: 15px;
            }
            .btn {
                margin-top: 60px;
            }
        }
        
    }
    &.restore-confirm {   
        figure.avatar {
            margin-bottom: 15px;
        }        
        .btns {
            display: flex;
            justify-content: center;
            align-items: center;
        
            @media (min-width: 768px) {
                margin-left: -11px;
            }
        
            .close {
                position: unset;
                width: auto;
                padding: 11px;
            }
        }
    }
    &.restore-confirmed {
        header {
            h1 {
                color: $info;
            }
        }
        figure.avatar {
            margin-bottom: 15px;
        }
        .btn {
            margin-top: 90px;
        }
    }
}



